@font-face {
    font-family: 'Milkshake';
    font-style: normal;
    font-weight: 400;
    src: local('Milkshake'), url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/67bdc627e71eb10020ebddae/assets/7ead39ac-3bc7-489e-808d-36747798d13c/font.woff') format('woff');
}